body,
ul,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
input,
figure,
figcaption,
legend,
figure,
figcaption {
    margin: 0;
    padding: 0
}

ul,
li,
ol {
    list-style: none
}

img,
fieldset {
    border: 0
}

img {
    display: block
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100
}

body,
html {
    font-family: "微软雅黑";
    position: relative;
    height: 100%
}

header {
    width: 100%;
    height: 167px
}

#top-warp {
    width: 100%;
    height: 34px;
    background: #f9f9f9
}

#top {
    width: 1200px;
    height: 34px;
    background: #f9f9f9;
    margin: 0 auto
}

.city {
    width: 86px;
    height: 26px;
    color: #646464;
    font-size: 12px;
    float: left;
    text-align: center;
    line-height: 34px;
    padding-left: 5px;
    border: 1px solid #f9f9f9;
    z-index: 99;
    position: absolute
}

em {
    display: block;
    float: right;
    margin-right: 10px
}

.city:hover {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-bottom: none
}

.city:hover em {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.cityall {
    width: 298px;
    height: 190px;
    border: 1px solid #e6e6e6;
    background: #fff;
    float: left;
    position: absolute;
    margin-top: 26px;
    display: none;
    padding-top: 10px
}

.city-warp:hover .cityall {
    display: block;
    background: #fff
}

.cityall li {
    width: 48px;
    height: 26px;
    padding-left: 10px;
    float: left;
    line-height: 26px;
    text-align: center
}

.cityall li a {
    font-size: 12px;
    color: #646464
}

.cityall li a:hover {
    color: #ff2832
}

.top-nav {
    width: 558px;
    height: 28px;
    float: right
}

.top-nav li {
    float: left;
    border-left: 1px solid #ddd;
    border-top: 1px solid #f9f9f9;
    padding-left: 5px;
    margin-top: 5px
}

.top-nav li a {
    font-size: 12px;
    text-align: center;
    line-height: px;
    color: #646464
}

.top-nav li a:hover {
    color: #ff2832
}

.wddd {
    width: 83px;
    height: 21px
}

.wddd-one {
    width: 87.5px;
    height: 189px;
    background: #fff;
    margin-left: -6px;
    display: none;
    border: 1px solid #e6e6e6;
    position: absolute
}

.wddd-one li {
    width: 82px;
    height: 22px;
    border: none
}

.wddd:hover {
    background: #fff;
    z-index: 99;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6
}

.wddd:hover .wddd-one {
    display: block;
    border-top: none
}

.wddd:hover .wddd-one a {
    color: #646464
}

.wddd-one li:hover {
    background: #ddd
}

.wddd:hover a {
    color: #ff2832
}

.wddd:hover em {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.lingwu {
    width: 74px;
    height: 21px
}

.lingwu-one {
    width: 78.5px;
    height: 110px;
    background: #fff;
    margin-left: -6px;
    display: none;
    border: 1px solid #e6e6e6;
    position: absolute
}

.lingwu-one li {
    width: 74.5px;
    height: 22px;
    border: none
}

.lingwu:hover {
    background: #fff;
    z-index: 99;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6
}

.lingwu:hover .lingwu-one {
    display: block;
    border-top: none
}

.lingwu:hover .lingwu-one a {
    color: #646464
}

.lingwu-one li:hover {
    background: #ddd
}

.lingwu:hover a {
    color: #ff2832
}

.lingwu:hover em {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.qycg {
    width: 79px;
    height: 21px
}

.qycg-one {
    width: 84px;
    height: 163px;
    background: #fff;
    margin-left: -6px;
    display: none;
    border: 1px solid #e6e6e6;
    position: absolute
}

.qycg-one li {
    width: 79px;
    height: 22px;
    border: none
}

.qycg:hover {
    background: #fff;
    z-index: 99;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6
}

.qycg:hover .qycg-one {
    display: block;
    border-top: none
}

.qycg:hover .qycg-one a {
    color: #646464
}

.qycg-one li:hover {
    background: #ddd
}

.qycg:hover a {
    color: #ff2832
}

.qycg:hover em {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.khfw {
    width: 79px;
    height: 21px
}

.khfw-one {
    width: 84px;
    height: 140px;
    background: #fff;
    margin-left: -6px;
    display: none;
    border: 1px solid #e6e6e6;
    position: absolute
}

.khfw-one li {
    width: 79px;
    height: 22px;
    border: none
}

.khfw:hover {
    background: #fff;
    z-index: 99;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6
}

.khfw:hover .khfw-one {
    display: block;
    border-top: none
}

.khfw:hover .khfw-one a {
    color: #646464
}

.khfw-one li:hover {
    background: #ddd
}

.khfw:hover a {
    color: #ff2832
}

.khfw:hover em {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

.niname {
    width: 189px;
    height: 29px;
    float: right;
    font-size: 12px;
    color: #404040;
    text-align: center;
    line-height: 35px;
    margin-top: 1.5px
}

.huiyuan {
    color: #646464
}

.huiyuan:hover {
    color: #ff2832
}

#search {
    width: 1200px;
    height: 100px;
    margin: 0 auto
}

.logo {
    width: 362px;
    height: 77px;
    float: left
}

.sousuo {
    width: 566px;
    height: 39.5px;
    border: 2px solid #ff2832;
    float: left;
    margin-top: 20px
}

.shuru {
    width: 390px;
    height: 20px;
    float: left;
    font-size: 12px;
    padding: 10px;
    border: none;
    outline: none
}

.leixing-warp {
    width: 108px;
    height: 40px;
    float: left
}

.leixing {
    width: 108px;
    height: 40px;
    float: left;
    background: #f6f6f6;
    color: #969696;
    font-size: 16px;
    text-align: center;
    line-height: 40px
}

.allfenlei {
    width: 106px;
    height: 288px;
    border: 1px solid #dedede;
    position: absolute;
    background: #fff;
    font-size: 12px;
    margin-top: 40px;
    display: none;
    overflow: auto
}

.allfenlei li {
    width: 84px;
    height: 24px;
    padding: 0 5px 0 15px;
    line-height: 24px
}

.allfenlei li a {
    color: #646464
}

.leixing-warp:hover .allfenlei {
    display: block;
    z-index: 99
}

.allfenlei li:hover {
    background: #c8c8c8;
    text-decoration: underline
}

.allfenlei li:hover a {
    color: #fff
}

.btn {
    width: 48px;
    height: 40px;
    float: right;
    border: none;
    background: #ff2832
}

.btn b {
    line-height: 40px;
    color: #fff;
    margin-left: 15px
}

.gouwuche {
    width: 111px;
    height: 34px;
    border: 3px solid #ff2832;
    background: #ff2832;
    float: right;
    color: #fff;
    text-align: center;
    line-height: 34px;
    margin-top: 20px
}

.gouwuche:hover {
    background: #f6f6f6;
    color: #ff2832;
    border: 3px solid #ddd
}

.dingdan {
    width: 88px;
    height: 34px;
    background: #f6f6f6;
    border: 3px solid #ddd;
    float: right;
    text-align: center;
    color: #646464;
    line-height: 34px;
    border-left: none;
    margin-top: 20px
}

.dingdan:hover {
    color: #ff2832
}

.resou {
    width: 568px;
    height: 20px;
    float: left
}

.gaoji {
    width: 48px;
    height: 20px;
    font-size: 12px;
    float: right;
    color: #969696;
    line-height: 20px
}

.gaoji:hover {
    color: #ff2832;
    text-decoration: underline
}

.rs-nav {
    display: flex;
    float: left;
    font-size: 12px;
    color: #969696
}

.rs-nav li {
    margin-right: 15px
}

.rs-nav a {
    color: #969696
}

.rs-nav a:hover {
    color: #ff2832;
    text-decoration: underline
}

#category {
    width: 1200px;
    height: 43px;
    margin: 0 auto
}

.shangpin {
    color: #fff
}

.categoryall {
    display: block;
    width: 200px;
    height: 40px;
    background: #ff2832;
    text-align: center;
    line-height: 40px;
    float: left;
    color: #fff;
    font-weight: 600;
    margin-top: 2px
}

.categoryall i {
    margin-left: 30px
}

.all-one {
    position: absolute;
    width: 180px;
    height: 515px;
    background: #fafafa;
    top: 177px;
    left: 160px;
    padding-left: 20px;
    display: none;
    border-top: 3px solid #ff2832
}

.all-one li {
    width: 200px;
    height: 32px;
    text-align: left;
    font-weight: 500;
    color: #323232
}

.all-one li a {
    color: #323232;
    font-size: 14px
}

.categoryall:hover .all-one {
    display: block
}

.cate {
    float: left;
    margin-left: 10px
}

.cate li {
    float: left;
    text-align: center;
    line-height: 40px;
    margin: 0 15px;
    font-weight: 600;
    font-size: 14px
}

.cate li a {
    color: #323232
}

.cate li:hover a {
    color: #ff2832
}

#xian {
    width: 100%;
    height: 2px;
    background: #ff2832
}

#sub {
    width: 1200px;
    height: 31px;
    margin: 0 auto
}

#sub-warp {
    width: 100%;
    height: 31px;
    background: #f5f5f5
}

.sub-nav {
    float: left
}

.sub-nav li {
    float: left;
    font-size: 12px;
    padding: 0 14px;
    height: 12px;
    border-right: 1px solid #ccc;
    margin-top: 8px
}

.sub-nav li a {
    color: #646464
}

.sub-nav li:hover a {
    color: #ff2832;
    text-decoration: underline
}

main {
    width: 1200px;
    min-height: 400px;
    margin: 0 auto
}

.gounav {
    width: 1200px;
    height: 50px;
    background: greenyellow;
    line-height: 50px
}

.gounav input {
    float: left;
    margin-top: 20px
}

.gounav .qx {
    float: left
}

.gounav .gname {
    float: left;
    margin-left: 60px
}

.gounav .gimg {
    float: left;
    margin-left: 110px
}

.gounav .gprice {
    float: left;
    margin-left: 70px
}

.gounav .gnum {
    float: left;
    margin-left: 180px
}

.gounav .gnprices {
    float: left;
    margin-left: 180px
}

#cartList li {
    width: 1100px;
    height: 100px;
    background: pink;
    float: left;
    margin: 10px 50px 0
}

#cartList li img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 30px;
    margin-top: 10px
}

#cartList li span {
    float: left;
    margin-right: 30px;
    margin-top: 45px;
    width: 100px;
    height: 30px
}

#cartList li input {
    float: left;
    margin-right: 30px;
    margin-top: 50px
}

.allgoods {
    margin-bottom: 30px;
    min-height: 500px;
    line-height: 1.15;
}







.allgoods h4 { 
    font-size: 16px;
    color: #333;
    padding: 9px 0;
    line-height: 1.15;
    font-weight: bold;
}

.cart-th>th>div>input {
    margin-right: 15px;
}

.cart-main {
    font-size: 12px;
}

.cart-th {
    padding: 10px;
    border: 1px solid #ddd;
    background: #f5f5f5;
}
.m {
	border-bottom: 2px solid #e01222;
}
.py-container {
	background-color: #fff;
}
.allgoods {
	margin-bottom: 30px;
	min-height: 500px;
}
.allgoods h4 {
	color: #333;
	padding: 9px 0;
}
.cart-main {
	font-size: 12px;
}
.cart-th {
	padding: 10px;
	border: 1px solid #ddd;
	background: #f5f5f5;
    height: 13px;
}
.cart-title h5 {
	line-height: 20px;
}
.cart-shop {
	padding: 10px 9px 5px;
	border-bottom: 2px solid #ddd;
}
.cart-tool {
	overflow: hidden;
	/* border: 1px solid #ddd;. */
}

.cart-shop .self {
	padding: 2px;
	background: #c81623;
	color: #fff;
}

.cart-body,
.deled {
	margin: 15px 0;
}

.cart-list ul {
	padding: 10px;
	/* border-bottom: 1px solid #ddd; */
}
.yui3-u-1-8, .yui3-u-3-24 {
    width: 12.5%;
}
.cart-list ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.price,
.sum,
.shopname,
.itxt {
	font-family: "微软雅黑";
}

.shopname {
	font-size: 14px;
}

.self {
	font-size: 12px;
}

.price,
.sum {
	font-size: 16px;
}

.good-item {
	padding: 0 10px;
}

.item-img {
	float: left;
	width: 100px;
	height: 90px;
}

.item-txt {
	padding: 0 10px;
}

.goods-list input {
	border: 1px solid #ddd;
}

a.increment {
	padding: 8px;
	width: 6px;
	text-align: center;
	text-decoration: none;
}

.mins {
	float: left;
	border: 1px solid #ddd;
	border-right: 0;
}

.plus {
	float: left;
	border: 1px solid #ddd;
	border-left: 0;
}

.itxt {
	float: left;
	width: 40px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	zoom: 1;
}

.select-all,
.option {
	float: left;
	overflow: hidden;
	padding: 10px;
}

.option a {
	float: left;
	padding: 0 10px;
}

.money-box {
	float: right;
}

.chosed,
.sumprice {
	float: left;
	padding: 0 10px;
}

.chosed {
	line-height: 26px;
}

.sumprice {
	/* width: 200px; */
	line-height: 26px;
	text-align: right;
}


.total_price {
	text-align: right;
}

.sumbtn {
	float: right;
}

.summoney {
	color: #c81623;
	font: 16px "微软雅黑";
}

a.sum-btn {
	position: relative;
	display: block;
	overflow: hidden;
	width: 110px;
	height: 52px;
	background: #E60012;
	color: #fff;
	text-align: center;
	/* font-size: 18px; */
	font-family: "Microsoft YaHei";
	line-height: 52px;
	margin-left: 30px;
}

.del {
	background: #fffdee;
}

.del .goods-list {
	display: block;
	overflow: hidden;
	margin-top: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sui-nav.nav-tabs {
	overflow: hidden;
	padding-left: 0;
	border: 1px solid #ddd;
	background: #f1f1f1;
}

.sui-nav.nav-tabs>li>a {
	padding: 10px 20px;
	border: 0;
	font-family: "微软雅黑";
}

.sui-nav.nav-tabs>.active>a {
	border: 0;
	border-radius: 0;
	background-color: #c81623;
	color: #fff;
}

.item ul {
	margin: 0 auto;
	width: 1000px;
}

.item ul li {
	position: relative;
	display: inline-block;
	margin-right: -7px;
	padding: 20px;
	border: 1px dashed #ddd;
	list-style-type: none;
	zoom: 1;
	*display: inline;
	*zoom: 1;
}

.carousel-control {
	width: 22px;
	border: 0;
	border-radius: 0;
	background: #ddd;
}

.intro,
.money,
.incar {
	line-height: 20px;
}

.money,
.incar {
	text-align: center;
}

.money {
	color: #c81623;
	font: 14px "微软雅黑";
}

.incar {
	margin: 10px 0;
}

.car {
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(../img/icons.png) no-repeat;
	background-position: -422px -135px;
}

.cartxt {
	padding-left: 23px;
}

.goods-list {
	display: flex !important;
	align-items: center;
}

.item-img img {
	max-height: 100%;
}

.item-msg {
	padding: 20px 0;
	width:500px;
}

.success-cart {
	padding: 30px 0 100px;
	background-color: #f4f4f4;
}

.other-item.py-container {
	margin-bottom: 15px;
}

.success-cart h3 {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6AAF04;
	font-weight: 400;
	font-size: 16px;
}

.success-cart .icon-pc-right {
	margin-right: 8px;
	padding: 3px;
	border: 2px solid #6AAF04;
	border-radius: 15px;
	background-color: #fff;
}

.success-cart .goods {
	overflow: hidden;
	padding: 10px 0;
}

.success-cart .goods .left-good {
	float: left;
}

.success-cart .goods .right-gocart {
	float: right;
}

.left-good .left-pic {
	float: left;
	width: 60px;
	border: 1px solid #dfdfdf;
}

.left-good .right-info {
	float: left;
	margin-left: 10px;
	color: #444;
}

.left-good .right-info p {
	margin-top: 0;
	margin-bottom: 0;
}

.right-info .title {
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 28px;
}

.right-info .attr {
	color: #aaa;
}

.right-gocart a {
	padding: 7px 36px;
	font-size: 15px;
}

.right-gocart .btn-danger {
	background-color: #b1191a;
}

.right-gocart .btn-danger:hover {
	background-color: #b33637;
}

.checkout {
	margin: 20px auto;
}

.checkout-steps {
	padding: 25px;
	border: 1px solid #ddd;
	font-family: "微软雅黑";
}

.step-tit {
	margin: 15px 0;
	line-height: 36px;
}

.step-cont {
	margin: 0 10px 10px 20px;
}

.step-cont ul li {
	overflow: hidden;
	list-style-type: none;
}

.step-cont .con {
	float: left;
	margin: 5px 0;
	padding: 0;
}

.seven {
	margin-top: 20px;
	color: #c81623;
}

.price {
	color: #e12228;
	font: 14px "微软雅黑";
	font-weight: 700;
}

ul.addr-detail li {
	margin: 10px 0;
	width: 99%;
}

.recommendAddr {
	margin-top: 10PX;
}

ul.payType li {
	position: relative;
	display: inline-block;
	padding: 5px 20px;
	border: 1px solid #ddd;
	cursor: pointer;
	*display: inline;
	_zoom: 1;
	*margin: 5px 10px;
}

.step-cont li.selected {
	border: 1px solid #c81623;
}

.payshipInfo span {
	font-weight: 700;
}

ul.send-detail li {
	margin-top: 10px;
	line-height: 30px;
}

.sendType .express {
	margin-right: 10px;
	width: 120px;
	border: 1px solid #ddd;
	text-align: center;
}

.sendType,
.sendGoods {
	padding: 15px;
}

.sendType {
	margin-bottom: 2px;
	background: #f4f4f4;
}

.sendGoods {
	background: #feedef;
}

.num,
.exit {
	text-align: center;
}

.order-summary {
	overflow: hidden;
	margin-bottom: 50px;
}

.list,
.trade {
	line-height: 26px;
}

.list em {
	font-family: "微软雅黑";
}

.trade {
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
	text-align: right;
}

.trade .fc-receiverInfo {
	color: #999;
}

.order-summary .btn-xlarge {
	float: right;
	margin: 0 0 10px;
	padding: 15px 45px;
	border-radius: 0;
	font: 18px "微软雅黑";
	font-weight: 700;
}

.sendGoods img {
	max-height: 100px;
	display: block;
	margin: 0 auto;
}

.cart-th>div {
	float: left;
}

.cart-th>div>input {
	margin-right: 15px;
}

.cart-th div:nth-of-type(2) {
	margin-left: 200px;
	margin-right: 335px;
}

.cart-th div:nth-of-type(4) {
	margin-left: 110px;
	margin-right: 115px;
}

.cart-th div:nth-of-type(5) {
	margin-right: 110px;
}

.cart-title {
	border-bottom: 1px solid #DDDDDD;
	margin-top: 20px;
	padding-bottom: 25px;
}

.cart-title>h5 {
    float: left;
	height: 20px;
	width: 55px;
	background-color: #C71523;
	text-align: center;
	color: white;
	margin-left: 25px;
}

.yunfei>span {
	color: #C71523;
}

.yunfei {
    float: right;
}

.goods-list>li:nth-of-type(3) {
	margin-left: 25px;
}

.goods-list>li:nth-of-type(6) {
	margin-left: -25px;
	text-align: center;
}

.goods-list.active {
	background-color: #FDEDEE;
}

.pr {
	position: relative;
}

.good-checkbox {
	position: absolute;
	top: 0px;
	left: -5px;
}

.cart-tool-left>ul>li {
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}

.cart-tool-left>ul>li:nth-of-type(1) {
	margin-left: 30px;
}

.sumprice-bottom {
	margin-right: 40px;
}

.deleted {
	margin-top: 20px;
}

.del-product {
	margin-top: 25px;
	background-color: #FDEDEE;
}

.del-product>ul>li {
	float: left;
	height: 30px;
	line-height: 30px;
	color: #ccc;
}

.del-product>ul>li:nth-of-type(1) {
	margin-left: 15px;
	margin-right: 345px;
}

.del-product>ul>li:nth-of-type(3) {
	margin-left: 155px;
	margin-right: 260px;
}

.del-product>ul>li:nth-of-type(4) {
	margin-right: 20px;
}
.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

.del a {
    color:aqua;
}

.yui3-u-1-8 .clearfix {
    height: 32px;
    margin-top: 12px;
}

.youhuo {
    margin-left: 32px;
    color: #ddd;
}





.buju {
    width: 1000px;
    margin-left: 50px
}

footer {
    width: 100%;
    height: 420px;
    margin-top: 15px;
    border-top: 2px solid #ff2832
}

footer .new-warp {
    width: 100%;
    height: 78px;
    background: #fafafa;
    border-bottom: 1px solid #ebebeb
}

footer .new-warp .new {
    width: 970px;
    height: 78px;
    margin: 0 auto
}

footer .new-warp .new .tu1 {
    width: 138px;
    height: 52px;
    margin: 7px 50px 7px 48px;
    float: left;
    overflow: hidden
}

footer .new-warp .new .tu2 {
    width: 138px;
    height: 52px;
    margin: 7px 0px 7px 78px;
    float: left;
    overflow: hidden
}

footer .new-warp .new .tu2 img {
    margin-top: -51px
}

footer .new-warp .new .tu3 {
    width: 138px;
    height: 52px;
    margin: 7px 0px 7px 78px;
    float: left;
    overflow: hidden
}

footer .new-warp .new .tu3 img {
    margin-top: -103px
}

footer .new-warp .new .tu4 {
    width: 138px;
    height: 52px;
    margin: 7px 0px 7px 78px;
    float: left;
    overflow: hidden
}

footer .new-warp .new .tu4 img {
    margin-top: -155px
}

footer .footer-new {
    width: 920px;
    height: 140px;
    margin: 0 auto;
    padding-top: 30px
}

footer .footer-new .zhinan {
    width: 153px;
    height: 116px;
    float: left
}

footer .footer-new .zhinan span {
    padding-left: 30px;
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #323232;
    height: 36px;
    line-height: 36px
}

footer .footer-new .zhinan ul {
    padding-left: 32px;
    margin: 0
}

footer .footer-new .zhinan ul li {
    line-height: 20px;
    height: 20px
}

footer .footer-new .zhinan ul li a {
    font-size: 12px;
    color: #7d7d7d
}

footer .footer-new .zhinan ul li a:hover {
    color: #ff2832;
    text-decoration: underline
}

footer .footer-copy {
    width: 100%;
    height: 110px;
    margin: 0 auto;
    border-top: 1px solid #ebebeb;
    padding: 17px 0 50px
}

footer .footer-copy .footer-nav {
    width: 100%;
    height: 37px;
    margin: 0 auto;
    padding-bottom: 17px;
    text-align: center;
    font-size: 12px
}

footer .footer-copy .footer-nav a {
    color: #8c8c8c
}

footer .footer-copy .footer-nav span {
    color: #8c8c8c;
    margin: 0 17px 0 19px
}

footer .footer-copy .footer-nav a:hover {
    color: #ff2832;
    text-decoration: underline
}

footer .footer-copy .footer-copyright {
    width: 830px;
    height: 54px;
    margin: 0 auto;
    font-size: 12px;
    color: #8c8c8c;
    text-align: center;
    padding: 10px 0 0 130px;
    line-height: 70px
}

footer .footer-copy .footer-copyright span {
    float: left;
    bottom: 0
}

footer .footer-copy .footer-copyright .sep {
    margin: 0 17px 0 19px
}

footer .footer-copy .footer-copyright a {
    float: left;
    margin: -5px 5px 0 5px
}