body,
ul,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
input,
figure,
figcaption,
legend,
figure,
figcaption {
    margin: 0;
    padding: 0
}

ul,
li,
ol {
    list-style: none
}

img,
fieldset {
    border: 0
}

img {
    display: block
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100
}

body,
html {
    font-family: "微软雅黑";
    background-color: #f6f9fb;
    position: relative;
    height: 100%
}

header {
    width: 960px;
    height: 76px;
    margin: 0 auto
}

header a:hover {
    text-decoration: underline
}

header .logo {
    width: 960px;
    height: 73px;
    background: #fff
}

header .logo .dalogo {
    width: 171px;
    height: 71px;
    float: left
}

header .logo .danghang {
    width: 788px;
    height: 21px;
    float: left
}

header .logo .danghang .nav {
    width: 440px;
    height: 21px;
    float: right;
    font-size: 12px;
    line-height: 20px
}

header .logo .danghang .nav li {
    float: left
}

header .logo .danghang .nav li a {
    color: #404040
}

header .logo .danghang .nav .gwc {
    width: 43px;
    height: 21px;
    padding-left: 21px;
    line-height: 20px;
    background: url(../img/unite_header_1101.gif) 0 -233px no-repeat
}

header .logo .danghang .nav .box {
    width: 62px;
    height: 21px;
    text-align: center;
    line-height: 20px
}

header .logo .danghang .nav .mydang {
    width: 65px;
    height: 21px;
    text-align: center;
    padding: 0 5px;
    line-height: 20px;
    border: 1px solid #fff
}

header .logo .danghang .nav .mydang a {
    float: left
}

header .logo .danghang .nav .mydang i {
    margin-left: 5px;
    color: #404040
}

header .logo .danghang .nav .mydang .mydangdang {
    width: 75px;
    height: 145px;
    background: #fff;
    position: absolute;
    border: 1px solid #f60;
    border-top: none;
    z-index: 99;
    margin-left: -1px;
    display: none;
    margin-left: -6px
}

header .logo .danghang .nav .mydang .mydangdang li {
    width: 69px;
    height: 24px;
    line-height: 24px
}

header .logo .danghang .nav .mydang .mydangdang li a {
    width: 54px;
    height: 20px;
    text-align: center;
    margin-left: 5px;
    border-bottom: solid 1px #f5f4f4
}

header .logo .danghang .nav .mydang:hover i {
    float: left;
    width: 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

header .logo .danghang .nav .mydang:hover .mydangdang {
    margin-top: 21px;
    display: block
}

header .logo .danghang .nav .mydang:hover {
    border: 1px solid #f60;
    border-bottom: none;
    background: #fff
}

header .logo .danghang .nav li:hover a {
    color: #f60
}

header .logo .danghang .nav .lipin {
    width: 51px;
    height: 21px;
    background: #fff;
    border: 1px solid #fff;
    padding: 0 5px
}

header .logo .danghang .nav .lipin a {
    float: left
}

header .logo .danghang .nav .lipin i {
    margin-left: 2px
}

header .logo .danghang .nav .lipin .lidangdang {
    width: 61px;
    height: 50px;
    border: 1px solid #f60;
    background: #fff;
    position: absolute;
    z-index: 99;
    margin-left: -6px;
    border-top: none;
    display: none
}

header .logo .danghang .nav .lipin .lidangdang li {
    width: 49px;
    height: 20px;
    padding: 0 5px
}

header .logo .danghang .nav .lipin .lidangdang li a {
    border-bottom: 1px solid #f5f4f4
}

header .logo .danghang .nav .lipin:hover i {
    float: left;
    width: 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}

header .logo .danghang .nav .lipin:hover .lidangdang {
    margin-top: 21px;
    display: block
}

header .logo .danghang .nav .lipin:hover {
    border: 1px solid #f60;
    border-bottom: none;
    background: #fff
}

header .logo .danghang .nav .bangzhu {
    margin-left: 5px
}

header .logo .denglu {
    width: 460px;
    height: 21px;
    float: right;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 21px;
    color: #404040
}

header .logo .denglu span {
    float: right
}

header .logo .denglu .dl {
    float: right;
    color: #1a66b3;
    margin-right: 5px
}

header .xian {
    width: 960px;
    height: 3px;
    background: #f07700;
    float: left
}

main {
    width: 960px;
    height: 614px;
    margin: 0 auto;
    padding-top: 40px
}

main .houjing {
    background-color: #ebeeef;
    width: 950px;
    height: 573px;
    margin-bottom: 40px;
    float: left
}

main .qianjing {
    background-color: #fff;
    width: 950px;
    height: 573px;
    float: left;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px
}

main .qianjing .main-head {
    width: 915px;
    height: 75px;
    margin: 0 auto;
    padding-right: 15px;
    border-bottom: solid 1px #eceef2
}

main .qianjing .main-head .tiaozhuan {
    width: 127px;
    height: 22px;
    margin-top: 40px;
    float: right
}

main .qianjing .main-head .tiaozhuan .home {
    width: 48px;
    height: 16px;
    float: left;
    margin-top: 3px;
    margin-right: 15px;
    background: url(../img/icon_20150706.png) 0 2px no-repeat;
    font-size: 12px;
    color: #646464;
    padding-left: 16px
}

main .qianjing .main-head .tiaozhuan .bangzhu {
    width: 48px;
    height: 16px;
    float: left;
    font-size: 12px;
    color: #646464;
    margin-top: 3px
}

main .qianjing .main-head .tiaozhuan a:hover {
    color: #ff2832
}

main .qianjing .main-head .xinyonghu {
    width: 137px;
    height: 47px;
    float: left;
    text-align: center;
    line-height: 47px;
    margin-left: 20px;
    color: #464646;
    background: #fff;
    border: 1px solid #eceef2;
    border-bottom: none;
    margin-top: 28px
}

main .qianjing .main-head .qiyeyonghu {
    width: 137px;
    height: 47px;
    float: left;
    margin-left: 6px;
    text-align: center;
    line-height: 47px;
    color: #464646;
    border: 1px solid #eceef2;
    border-bottom: none;
    margin-top: 28px;
    background: #f5f5f5
}

main .qianjing .neirong {
    width: 950px;
    height: 483px;
    padding-top: 15px
}

main .qianjing .neirong .tishi {
    width: 649px;
    height: 26px;
    background: green;
    margin: 0 auto;
    line-height: 24px;
    color: #828282;
    background: url(../img/new_tip.png) 3px 5px no-repeat #fef7f5;
    border: 1px solid #fedbd1;
    font-size: 12px;
    padding-left: 22px
}

main .qianjing .neirong .tishi a {
    color: #1a66b3
}

main .qianjing .neirong .tishi a:hover {
    text-decoration: underline
}

main .qianjing .neirong .haoma {
    width: 950px;
    height: 68px
}

main .qianjing .neirong .haoma .shoujihm {
    width: 348px;
    height: 68px;
    float: left;
    text-align: right;
    line-height: 68px
}

main .qianjing .neirong .haoma .sjhaoma {
    width: 602px;
    height: 67px;
    float: left;
    font-size: 12px
}

main .qianjing .neirong .haoma .sjhaoma .tianxie {
    width: 312px;
    height: 18px;
    border: 1px solid #e6e6e6;
    padding: 9px 10px;
    line-height: 18px;
    margin-left: 10px;
    outline: none;
    margin-top: 15px
}

main .qianjing .neirong .haoma .sjhaoma p {
    margin-left: 10px;
    color: #787878;
    margin-top: 10px
}

main .qianjing .neirong .haoma .yanzhengma {
    width: 182px;
    height: 18px;
    border: 1px solid #e6e6e6;
    padding: 9px 10px;
    line-height: 18px;
    margin-left: 10px;
    float: left;
    margin-right: 10px;
    outline: none;
    margin-top: 15px
}

main .qianjing .neirong .haoma .tupian {
    width: 84px;
    height: 37px;
    margin-left: 10px
}

main .qianjing .neirong .haoma .tupian a {
    width: 280px;
    height: 37px;
    float: left;
    line-height: 37px;
    margin-left: 10px;
    color: #1a66b3
}

main .qianjing .neirong .haoma .tupian a:hover {
    text-decoration: underline
}

main .qianjing .neirong .haoma .tupian img {
    width: 84px;
    height: 37px;
    float: left;
    margin-top: 15px
}

main .qianjing .neirong .haoma .xuanzhong {
    margin-top: 20px;
    float: left
}

main .qianjing .neirong .haoma .gouxuan {
    padding-top: 19px;
    padding-left: 10px;
    float: left
}

main .qianjing .neirong .haoma .gouxuan a {
    color: #1a66b3
}

main .qianjing .neirong .haoma .gouxuan a:hover {
    text-decoration: underline
}

main .qianjing .neirong .btn {
    width: 178px;
    height: 44px;
    background: #ff2832;
    float: left;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 400px;
    border: none;
    outline: none
}

footer {
    width: 100%;
    height: 338px;
    color: #8c8c8c;
    border-top: 1px solid #ebebebda;
    padding: 17px 0 50px
}

footer .footer-copy {
    width: 100%;
    height: 110px;
    margin: 0 auto;
    padding: 17px 0 50px
}

footer .footer-copy .footer-nav {
    width: 100%;
    height: 37px;
    margin: 0 auto;
    padding-bottom: 17px;
    text-align: center;
    font-size: 12px
}

footer .footer-copy .footer-nav a {
    color: #8c8c8c
}

footer .footer-copy .footer-nav span {
    color: #8c8c8c;
    margin: 0 17px 0 19px
}

footer .footer-copy .footer-nav a:hover {
    color: #ff2832;
    text-decoration: underline
}

footer .footer-copyright {
    width: 960px;
    height: 30px;
    margin: 0 auto;
    font-size: 12px;
    color: #8c8c8c;
    text-align: center;
    line-height: 30px
}

footer .copyleft {
    width: 960px;
    height: 91px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    text-align: center;
    color: #8c8c8c
}

footer .copyleft a {
    color: #8c8c8c
}

footer .copyleft a:hover {
    color: #ff2832;
    text-decoration: underline
}

footer .copyleft .xukezheng {
    width: 960px;
    height: 20px;
    font-size: 12px
}

footer .copyleft .xukezheng .sep {
    margin: 0 17px 0 19px
}

footer .tu {
    width: 695px;
    height: 87px;
    padding: 10px 0 0 55px;
    margin: 0 auto
}

footer .tu img {
    float: left;
    margin-right: 30px;
    margin-top: 30px
}